
.home{
    padding: 40px 0;
}
.home h1{
    margin: 20px 5px;
}
.home p{
    padding: 3px;
    margin: 2px 0;
    line-height: 20px;
}
span{
    color: var(--color-secondary);
}



@media (min-width:600px) {
    .home{
        margin: 10px 40px;
        padding: 40px 0;
    }
}