.navbar ul{
    display: flex;
    justify-content: space-around ;
}

.icons{
    margin: 25px 0;
    font-size: 30px;
    color: white;
}
.navbar{
    position: fixed;
    top: 0;
    background-color: var(--color-grey-5);
    width: 100%;
    left: 0;
    z-index: 1;
}
@media (min-width:700px){
    .icons:hover{
        color:green;
    }
}
