  .portfolio{
      padding: 40px 0;
  }

.img{
    position: relative;
}
.img h3{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30;
    text-align: center;
    padding-top:10px ;
    border-radius: 20px;
    background-color:#27AE60 ;
    transform: scale(0.9);
    transition:all ease 0.6s;
    opacity: 0;
}
.img h3:hover{
    opacity: 1;
    transform: scale(0.8);
    transition: ease 0.6s;
}
img{
    border-radius: 20px;
    width: 30em;
}







@media(max-width:650px){
    section{
        display: block;
        text-align: center;
        margin: 0 30px;
    }
    img{
        width:240px;
        align-self: center;
        margin-bottom: 20px;
    }
    .img h3{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 20px;
        font-size: 2em;
        padding-top: 50px;
        background-color:#27AE60 ;
        border-radius: 20px;
        transform: scale(0.9);
        transition: all ease 0.6s;
        opacity: 0;
    }
    .img h3:hover{
        opacity: 1;
        transform: scale(0.8);
        transition: ease 0.6s;
    }
}

@media(min-width:651px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 40px;
     
    }
    img{
        width:250px;
        align-self: center;
        margin-bottom: 20px;
    }
}

@media(min-width:900px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 70px;
    }
   .portfolio  p{
        text-align: center;
    }
}
@media(min-width:950px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 150px;
    }
   .portfolio  p{
        text-align: center;
    }
    img{
        /* width:300px; */
        align-self: center;
        margin-bottom: 20px;
    }
}


